.animated {
  transition: all 0.5s ease-out;
}
.con__wrap {
  margin-top: 150px;
}

/* section - 상품안내 */
.con__tran-product {
  transform: translateY(160px);
  opacity: 0;
}
.con__product-ul {
  display: flex;
  padding: 0 30px;
}

.con__product-ul li {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  transform: translateY(160px);
  opacity: 0;
}
.con__product-ul li:first-child {
  padding-left: 0;
}
.con__product-ul li:last-child {
  padding-right: 0;
}
.con__product-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.con__product-a h2 {
  font-size: 20px;
  margin: 0 0 15px 0;
  text-align: center;
  font-weight: 600;
}
.con__product-a img {
  flex: 1;
}

.con__product-a::before {
  content: '';
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #ea002c
    url('https://www.psnmarketing.com/home/layouts/home/shop/img/main/mcon01_arrow.png')
    no-repeat center center;
  box-shadow: 0 12px 30px rgb(0 0 0 / 20%);
  position: absolute;
  bottom: -40px;
  right: 30px;
  opacity: 0;
  transition: bottom 0.3s ease;
}

.con__product-ul li:hover .con__product-a::before {
  opacity: 1;
  bottom: -20px;
}

/* 매장안내 */
.con__tran-store {
  transform: translateY(160px);
  opacity: 0;
}
.con__tran-store h2 {
  margin: 0 0 60px 0;
}
.con__store-slideview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con__store-imgView {
  overflow: hidden;
  width: calc(100% - 100px);
  height: 493px;
  margin: 0 50px;
  position: relative;
}
.con__store-ul {
  display: flex;
  width: calc(100% * 3);
  position: absolute;
  top: 0;
  left: 0;
}
.con__store-ul li {
  width: 100%;
  height: 493px;
}
.con__store-ul > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.con__store-img {
  width: 100%;
  height: 100%;
}
.con__store-textwrap {
  width: 320px;
  display: inline-block;
  overflow: hidden;
}
.con__store-text {
  display: flex;
  width: calc(100% * 3);
  transform: translateX(0px);
}
.con__store-text li {
  width: 320px;
  height: 54px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.con__store-prevBtn {
  position: absolute;
  bottom: 0;
  left: 33%;
  height: 54px;
  padding: 26px 0 0;
  z-index: 50;
  background-color: #fff;
}
.con__store-nextBtn {
  position: absolute;
  bottom: 0;
  right: 33%;
  height: 54px;
  padding: 26px 0 0;
  z-index: 50;
  background-color: #fff;
}
button {
  border: none;
  outline: none;
  width: 11px;
  height: 18px;
  cursor: pointer;
  background-color: #fff;
}

.con__store-nextBtn button {
  background: url('https://www.psnmarketing.com/images/main/left.svg') no-repeat;
}
.con__store-prevBtn button {
  background: url('https://www.psnmarketing.com/images/main/right.svg')
    no-repeat;
}

/* PS&Marketing 서비스 */
.con__service-wrap {
  padding: 0 30px;
  display: flex;
  overflow: hidden;
  margin: 180px 0 0 0;
}
.con__service-wrap h3 {
  font-size: 27px;
  font-weight: 600;
  width: 330px;
  transform: translateX(-140px);
  opacity: 0;
}
.con__service-wrap > ul {
  flex: 1;
  display: flex;
}
.con__service-wrap > ul > li {
  width: 33.33333%;
  padding: 0 10px 0 72px;
  transform: translateX(300px);
  opacity: 0;
}
.con__service-wrap > ul > li h2 {
  font-size: 20px;
  font-weight: 600;
}
.con__service-wrap > ul > li p {
  font-size: 17px;
  color: #444;
  padding: 10px 0;
}

.con__service-wrap > ul > li:first-child {
  background: url(https://www.psnmarketing.com/home/layouts/home/shop/img/main/mcon03_ico03.png)
    no-repeat;
}
.con__service-wrap > ul > li:nth-child(2) {
  background: url(https://www.psnmarketing.com/home/layouts/home/shop/img/main/mcon03_ico01.png)
    no-repeat;
}
.con__service-wrap > ul > li:last-child {
  background: url(https://www.psnmarketing.com/home/layouts/home/shop/img/main/mcon03_ico02.png)
    no-repeat;
}
.con__service-btnbox li {
  margin-top: 10px;
}
.con__service-btnbox li a {
  display: block;
  width: 145px;
  height: 43px;
  border: 1px solid #ccc;
  color: #666;
  padding: 0 25px;
  line-height: 43px;
  border-radius: 45px;
  background: url(https://www.psnmarketing.com/home/layouts/home/shop/img/main/mcon03_arrow.png)
    no-repeat right 10% top 50%;
}
.con__service-btnbox li a:hover {
  border: 1px solid #222;
  color: #222;
}
/* 사회적 가치 활동 */
.con__tran-activity {
  transform: translateY(160px);
  opacity: 0;
}
.con__activity-ul {
  display: flex;
  padding: 0 30px;
}
.con__activity-ul > li {
  width: 25%;
  margin: 0 10px 30px 10px;
  background: #f5f5f5;
}
.con__activity-img img {
  width: 100%;
}
.con__activity-textbox {
  padding: 30px;
}
.con__activity-textbox > h3 {
  font-size: 20px;
  height: 60px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}
.date {
  display: block;
  color: #777;
  font-size: 17px;
  margin: 10px 0;
  font-weight: 200;
}
.activity__text {
  font-size: 17px;
  font-weight: 400;
}
.activity__more {
  font-size: 15px;
  padding: 0 30px 0 0;
  margin-right: 30px;
  color: #777;
  float: right;
  clear: both;
  position: relative;
}
.activity__more img {
  width: 15px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.activity__more:hover,
.activity__more:hover > img {
  color: #777;
  transition: 0.6s ease-in-out;
  right: 0;
}
