.footer {
  width: 100%;
  background-color: #1d1d1d;
  padding: 50px 30px;
  font-size: 17px;
  margin: 150px 0 0;
  position: relative;
  overflow: hidden;
}
.footer__wrap {
  max-width: 1310px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}
.footer__menu {
  display: flex;
}
.footer__menu li {
  margin-right: 30px;
}
.footer__menu li a {
  font-size: 17px;
  font-weight: 200;
  line-height: 1.7;
  color: #fff;
}
.footer__menu li:first-child a {
  border-bottom: 1px solid #fff;
}
.footer__info {
  margin: 15px 0 0;
}
.footer__info li {
  color: rgba(255, 255, 255, 0.6);
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.7;
  float: left;
}
.footer__info li:first-child {
  padding-left: 0;
}
.footer__info li:nth-child(5) {
  clear: both;
  float: left;
  padding-left: 0;
}
.footer__info li:last-child {
  clear: both;
  padding-left: 0;
}
.footer__connect {
  clear: both;
  display: flex;
  padding: 30px 0;
}
.footer__connect li {
  margin: 0 10px 0 0;
}
/* footer sk menu */
.footer__skmenu {
  width: 300px;
  height: 45px;
  background: #ea002c;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 1.7;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 1;
}
.footer__icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 16px;
  right: 90px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.footer__skmenu-sub {
  width: 300px;
  position: absolute;
  bottom: -225px;
  right: 0;
  background: #c30025;
  transition: all 0.3s ease-in-out;
}
.footer__skmenu-sub li {
  border: 1px solid transparent;
}
.footer__skmenu-sub li a {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 16px;
  line-height: 1.7;
  font-size: 17px;
}
.footer__skmenu-sub li a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
@media (max-width: 766px) {
  .footer__menu {
    flex-direction: column;
  }
  .footer__menu li a {
    font-size: 24px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
  }
  .footer__info > li {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  .footer__connect li {
    margin: 0 30px 0 0;
  }
  .footer__skmenu {
    width: 100vw;
    padding: 8px 9vw;
  }
  .footer__skmenu-sub {
    width: 100vw;
  }
  .footer__skmenu-sub li a {
    padding: 8px 9vw;
  }
  .footer__icon {
    right: 9vw;
  }
}
