.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 90;
}

.sub__nav.animated,
.header__backColor-top.animated {
  transition: all 0.8s ease-in-out;
}
.header__backColor-top {
  position: absolute;
  top: -240px;
  left: 0;
  width: 100%;
  height: 320px;
  background: #fff;
  border-top: 1px solid #ddd;
  z-index: -1;
}
.header__backColor-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  visibility: hidden;
}
.header__wrap {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
  background: #fff;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}
.header__logo {
  width: 200px;
}
.st0 {
  fill: red;
}
.st1 {
  fill: #f58220;
}
.st2 {
  fill: #77787b;
}

/* nav menu */
.nav__menu {
  display: flex;
}
.nav__menu-list {
  height: 80px;
  padding: 0 24px;
  position: relative;
  line-height: 80px;
  box-sizing: border-box;
}

.nav__tit {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__tit-text {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.menu__tit-under {
  display: block;
  width: 104px;
  height: 3px;
  margin: 0 24px;
  background: #e0002a;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: 0% 50%;
}

.sub__nav {
  position: absolute;
  top: -239px;
  left: 0;
  width: 150px;
  padding: 26px 0;
  background: #fff;
  z-index: -1;
}
.sub__nav > li {
  padding: 8px 0;
}
.sub__nav > li > a {
  display: block;
  width: 100%;
  height: 26px;
  font-size: 16px;
  text-align: center;
  color: #777777;
  font-weight: 400;
  line-height: 26px;
}
/* menu hover */
.nav__menu-list:hover .menu__tit-text {
  color: #e0002a;
}
.nav__menu-list:hover .menu__tit-under,
.sub__nav > li:hover .menu__tit-under {
  transform: scaleX(1);
}
.nav__menu-list:hover .header__backColor-bottom {
  opacity: 1;
}
.sub__nav > li:hover a {
  color: #222;
}

/* 오시는 길 */
header .h__directions a {
  background: url(https://www.psnmarketing.com/images/common/tnb_ico.png)
    no-repeat left center;
  padding: 0 0 0 36px;
  font-size: inherit;
  color: #666;
  letter-spacing: -0.05em;
}
header .h__directions:hover a {
  color: #222;
}

/* top button */
.top-btn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
}
.top-btn::after {
  content: '';
  border: 0;
  margin-top: -2px;
  margin-left: -6px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.hamberger__btn,
.media__nav {
  display: none;
}

/* 미디어쿼리 */
@media (max-width: 991px) {
  .nav__menu,
  .h__directions,
  .header__backColor-bottom,
  .header__backColor-top {
    display: none;
  }
  .header__wrap {
    box-shadow: none;
  }
  .header__wrap {
    height: 54px;
    padding: 0 0 0 15px;
  }
  .header__logo {
    width: 160px;
    height: 40px;
  }

  /* hamberger__btn */
  .hamberger__btn {
    width: 54px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .hamberger__btn span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #ea002c;
    transition: all 0.3s ease-in-out;
  }
  .hamberger__btn span:nth-child(2) {
    margin: 8px 0;
  }
  .hamberger__btn span:nth-child(2).active {
    display: none;
  }
  .hamberger__btn span:nth-child(1).active {
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
  }
  .hamberger__btn span:nth-child(3).active {
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }

  /* media nav */
  .media__nav {
    width: 100%;
    height: 0;
    z-index: -1;
    position: absolute;
    top: 54px;
    left: 0;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background: #ddd;
  }
  .media__menu {
    width: 100%;
    position: relative;
  }
  .media__menu a {
    display: block;
    height: 54px;
    padding: 12px 30px;
    box-sizing: border-box;
    color: #666;
  }
  .media__menu > a:first-child {
    border-top: 1px solid #ccc;
  }
  .media__menu > a {
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
  }
  .media__menu > a:last-child {
    border: none;
  }
  .media__menu-tit::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    margin: 26px 30px 26px 0;
    width: 15px;
    height: 2px;
    background: #666;
    transition: all ease 0.3s;
  }
  .media__menu-tit::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    margin: 26px 30px 26px 0;
    width: 15px;
    height: 2px;
    background: #666;
    transform: rotate(90deg);
    transition: all ease 0.3s;
  }
  .media__submenu {
    background: #fff;
    height: 0;
    overflow: hidden;
  }
  .media__submenu li a {
    border-bottom: 1px solid #ddd;
    padding: 10px 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  .media__submenu li a:hover {
    text-decoration: underline;
  }
  /* active */
  .media__nav.active {
    max-height: calc(100vh - 54px);
    height: auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }
  .media__submenu.active {
    height: auto;
    overflow: visible;
  }
  .media__menu-tit.active {
    color: #ea002c;
  }
  .media__menu-tit.active::after,
  .media__menu-tit.active::before {
    background: #ea002c;
    transform: rotate(0);
    transition: all ease 0.3s;
  }
}

@media (max-width: 766px) {
  .top-btn {
    width: 10vw;
    height: 10vw;
    bottom: 5vw;
    right: 5vw;
  }
  .top-btn::after {
    width: 2vw;
    height: 2vw;
    margin-top: -0.7vw;
    margin-left: -1vw;
  }
}
