.slider__view {
  width: 100%;
  height: 870px;
  position: relative;
  top: 80px;
  overflow: hidden;
  margin-bottom: 60px;
  display: inline-block;
}

.slider__view ul {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__view > ul > li {
  width: 100vw;
  height: 100%;
}
.slider__box,
.slider__box-01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.slider__ul.animated {
  transition: 0.5s ease-out;
}
/* 백그라운드 이미지 */
.main__slide01 .slider__box-01 {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img02.jpg')
    no-repeat center/cover;
}
.main__slide02 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img03.jpg')
    no-repeat center/cover;
}
.main__slide03 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img04.jpg')
    no-repeat center/cover;
}
.main__slide04 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img05.jpg')
    no-repeat center/cover;
}
.main__slide05 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img06.jpg')
    no-repeat center/cover;
}

.slide__textbox-01 {
  position: absolute;
  top: 20%;
}

.slide__textbox-01 p {
  font-size: 32px;
  color: #353535;
  letter-spacing: -0.06em;
  /* line-height: 1.7; */
  font-weight: 400;
  text-align: center;
  font-family: 'Noto Sans Kr', sans-serif;
}
.slide__textbox-01 h3 {
  font-size: 50px;
  color: #333;
  padding: 20px 0;
  text-align: center;
  letter-spacing: -0.06em;
  line-height: 1.4;
  font-family: 'Noto Sans Kr', sans-serif;
}

.slide__textbox {
  text-align: left;
  position: absolute;
  top: 38%;
  left: 0;
  margin-left: 100px;
}
.slide__textbox p {
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  /* line-height: 1.7; */
  font-weight: 400;
}
.slide__textbox h3 {
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 50px;
  margin-top: 20px;
  letter-spacing: -0.06em;
  line-height: 1.4;
  font-weight: 400;
}

/* 폰트 스타일 */
.flo__color {
  color: #4346f7;
}
.h3__align {
  display: flex;
  align-items: center;
}
.slide__textbox-01 h3 strong {
  color: #ea002c;
  font-weight: 500;
}

.wavve__color,
.books__color {
  color: #fff;
}
.coloring {
  font-size: 65px !important;
  color: #ff545c;
}
.books {
  font-size: 65px !important;
}
.coloring img,
.books img {
  margin-top: 20px;
}

.slide__btnbox {
  z-index: 10;
}
.slide__btnbox button {
  width: 20px;
  height: 38px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.slide__btnbox .prev {
  position: absolute;
  top: 57%;
  left: 2%;
  background: url('https://www.psnmarketing.com/images/visual/mvisual_arrow_prev.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide__btnbox .next {
  position: absolute;
  top: 57%;
  right: 2%;
  background: url('https://www.psnmarketing.com/images/visual/mvisual_arrow_next.png');
  background-size: cover;
  background-repeat: no-repeat;
}
