.slider__view {
  width: 100%;
  height: 870px;
  position: relative;
  top: 80px;
  overflow: hidden;
  margin-bottom: 60px;
  display: inline-block;
}

.slider__view ul {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__view > ul > li {
  width: 100vw;
  height: 100%;
}
.slider__box,
.slider__box-01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.slider__ul.animated {
  transition: 0.5s ease-out;
}
/* 백그라운드 이미지 */
.main__slide01 .slider__box-01 {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img02.jpg')
    no-repeat center/cover;
}
.main__slide02 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img03.jpg')
    no-repeat center/cover;
}
.main__slide03 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img04.jpg')
    no-repeat center/cover;
}
.main__slide04 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img05.jpg')
    no-repeat center/cover;
}
.main__slide05 .slider__box {
  background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img06.jpg')
    no-repeat center/cover;
}

.slide__textbox-01 {
  position: absolute;
  top: 20%;
}

.slide__textbox-01 p {
  font-size: 32px;
  color: #353535;
  letter-spacing: -0.06em;
  font-weight: 400;
  text-align: center;
}
.slide__textbox-01 h3 {
  font-size: 50px;
  color: #333;
  padding: 20px 0;
  text-align: center;
  letter-spacing: -0.06em;
  line-height: 1.4;
}

.slide__textbox {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: 12%;
  margin-left: 100px;
  transform: translateY(-50%);
}
.slide__textbox p {
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.slide__textbox h3 {
  font-size: 50px;
  margin-top: 20px;
  letter-spacing: -0.06em;
  line-height: 1.4;
  font-weight: 400;
}

/* 폰트 스타일 */
.flo__color {
  color: #4346f7;
}
.h3__align {
  display: flex;
  align-items: center;
}
.slide__textbox-01 h3 strong {
  color: #ea002c;
  font-weight: 500;
}

.wavve__color,
.books__color p {
  color: #fff;
}
.coloring {
  font-size: 65px;
  color: #ff545c;
  margin-bottom: 10px;
  display: block;
}

.books {
  font-size: 65px;
  color: #fff;
}
.coloring img,
.books img {
  margin-top: 20px;
}

.slide__btnbox {
  z-index: 10;
}
.slide__btnbox button {
  width: 42px;
  height: 80px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.slide__btnbox .prev {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  background: url('https://www.psnmarketing.com/images/visual/mvisual_arrow_prev.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide__btnbox .next {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  background: url('https://www.psnmarketing.com/images/visual/mvisual_arrow_next.png');
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1377px) {
  .slide__btnbox button {
    width: 20px;
    height: 38px;
    border: 0;
    outline: 0;
  }
  .slide__textbox {
    padding-left: 0;
  }
  .slide__btnbox .prev {
    left: 30px;
  }
  .slide__btnbox .next {
    right: 30px;
  }
}
/* 미디어 쿼리 */
@media all and (max-width: 1023px) {
  .slider__view {
    top: 54px;
    height: 600px;
  }
  .slide__textbox-01 p,
  .slide__textbox p {
    font-size: 24px;
  }
  .slide__textbox-01 h3,
  .slide__textbox h3 {
    font-size: 36px;
  }
  .coloring,
  .books {
    font-size: 55px;
  }
  .flo__color img {
    width: 5rem;
    margin-top: 4px;
  }

  .wavve__color img {
    width: 8.5rem;
    margin-top: 4px;
  }
  .coloring__h3 img {
    width: 19rem;
  }
  .books img {
    width: 17rem;
  }
}
@media all and (max-width: 768px) {
  .slider__view {
    height: 93vh;
  }
  .main__slide02 .slider__box {
    background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img03m.jpg')
      no-repeat center/cover;
  }
  .main__slide03 .slider__box {
    background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img04m.jpg')
      no-repeat center/cover;
  }
  .main__slide04 .slider__box {
    background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img05m.jpg')
      no-repeat center/cover;
  }
  .main__slide05 .slider__box {
    background: url('https://www.psnmarketing.com/home/data/banner/mvisual_img06m.jpg')
      no-repeat center/cover;
  }
  .slide__textbox-01 {
    top: 14%;
  }
  .slide__textbox-01 p {
    font-size: 4.4vw;
  }
  .slide__textbox-01 h3 {
    font-size: 6.6vw;
  }
  .slide__textbox {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10%;
    margin: 0;
    border: 1px solid red;
  }
  .slide__textbox p {
    font-size: 4.4vw;
  }
  .slide__textbox h3 {
    font-size: 6.6vw;
  }
  .coloring {
    font-size: 8.5vw;
    color: #ff545c;
    margin-bottom: 10px;
    display: block;
  }
  .coloring__h3 img {
    width: auto;
    height: 7vw;
  }
  .books {
    font-size: 8.5vw;
  }
  .coloring img {
    margin-top: 3vw;
  }
  .books img {
    width: auto;
    margin-top: 3vw;
    height: 7vw;
  }
}
@media all and (max-width: 479px) {
}
